/* cascading style sheets for the app component wwe use this for global styling base snd styling the app component and css reusability */
/* cascading means ranking or priority there might be multiple styles that can be applied to a single component thats when this cascading comes into picture means it decides what to be applied first the different styles might be inline,internal,external,defaults etc */
/* cascading is effected by the specificity , importance, order*/
.App {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  min-height: 100vh;
  padding: 20px;
  /* background: url("../public/images/download.jpg") no-repeat center center/cover;  */
}